* {
    outline: 1px solid gold;
    outline-offset: -1px;
}

body {
    background: #e3f2fd;
    font-family: 'Sulphur Point', sans-serif;

}

.search-bar {
    background: yellow;
}

.movies-result {
    background: grey;
}

.movies-comparison {
    background: lime;
}
.hide {
    display:none;
}

footer {
    background: wheat;
}

