* {
  outline: 1px solid black;
  outline-offset: -1px;
}

body {
  background: black;
  font-family: 'Sulphur Point', sans-serif;
  color: wheat;
}

.search-bar {
  background: black;
}

.movies-result {
  background: whitesmoke;
}

.movies-comparison {
  background: black;
}
.hide {
  display: none;
}

footer {
  background: gray;
}

.board {
  display: inline;
  padding: 10px;
}
