/* * {
    outline: 1px solid gold;
    outline-offset: -1px;
} */

a {
    color: white;
}

a:hover {
    color: gold;
}

body {
    background: black;
    font-family: "Sulphur Point", sans-serif;
    color: white;
}

.search-bar {
    background: black;
}

.movies-result {
    background: whitesmoke;
}

.movies-comparison {
    background: grey;
}

.hide {
    display: none;
}

footer {
    background: gray;
}

.board {
    display: inline;
    padding: 10px;
}

.single-movie {
    color: white;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;

    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    opacity: 0.5;
}

.bg-cover {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
}

.poster {
    width: 70%;
    display: block;
    margin: auto;
}

.single-recommended {
    z-index: 2;
    display: flex;
    overflow-x: auto;
}

.single-recommended img {
    margin-right: 15px;
}

.single-recommended::-webkit-scrollbar {
    display: none;
}